<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="login.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  
  
</head>
<body>
  <div id="app">  
    <div class="login-page">
      <div class="form">
        <form class="login-form">
          <input type="text" placeholder="username" v-model="username" />
          <input type="password" placeholder="password" v-model="password"/>
          <button  v-on:click.prevent="login(username,password)" >login</button>
          <br>or
          <br>
          <fb:login-button
          data-size="medium" 
          scope="public_profile,email"
          onlogin="checkLoginState();">
          </fb:login-button>
          <p  class="wrong" v-if="wrong" >ooops! either username or password was incorect</p>
          <p class="message">Not registered? <a href="register.html">Create an account</a></p>
        </form>
      </div>
    </div>
  </div> 
  <script src="login.js"></script>
</body>
</html>